<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{STATIC_URL}}/static/manager/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="{{STATIC_URL}}/static/manager/css/index.css"></link>
  <link rel="stylesheet" href="{{STATIC_URL}}/static/manager/font-awesome-4.6.3/css/font-awesome.min.css" /></link>
  <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <title>Welcome</title>
</head>
<body>
<center>	
  <div class='lockScreen'></div>
  <div class='existingSheetContainer'>
    <select class='existingSheetList'></select>  
    <button class='openSheet btn btn-primary'>Open</button>
    <button class='closeExistingSheetContainer btn btn-danger'>Close</button>
  </div>
  <div class='toolbox'>
    <div class="toolboxOptions fa fa-times deleteRow" title="delete row"></div>
    <div class="toolboxOptions fa fa-times deleteCol" title="delete column"></div>
    <div class="toolboxOptions fa fa-plus addHeading" title="add heading"></div>
  </div>
  <div class='sheetContent'>
   	<div class='header'>
      <div class='menu'>
        <div class='option createNewSheet fa fa-2x da-3x fa-plus' title='New Sheet'></div>
        <div class='option openExistingSheet fa fa-2x fa-folder-open' title='Open Sheet'></div>
        <div class='option insertRowBefore fa fa-3x fa-angle-up' title='add row before'></div>
        <div class='option insertRowAfter fa fa-3x fa-angle-down' title='add row after'></div>
        <div class='option insertColBefore fa fa-3x fa-angle-left' title='add column to left'></div>
        <div class='option insertColAfter fa fa-3x fa-angle-right' title='add column to right'></div>
        <div class='save btn btn-warning' title='save'>Save</div>
      </div>
    </div>
    <div class='openedSheetContainer'></div>
    <div class='mainContent'>
      <div class='sheetContainer'>
      </div>
    </div>
  </div>
</center>
</body>
<script src="{{STATIC_URL}}/static/manager/jquery-2.2.3.min.js"></script>
<script src="{{STATIC_URL}}/static/manager/javascript/index.js"></script>
</html>
