<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{STATIC_URL}}/static/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="{{STATIC_URL}}/static/index.css"></link>
  <link rel="stylesheet" href="{{STATIC_URL}}/static/font-awesome-4.6.3/css/font-awesome.min.css" /></link>
  <title>Welcome</title>
</head>
<body>
<center>	
 	<h1>Hello World</h1>
</center>
</body>
<script src="{{STATIC_URL}}/static/jquery-2.2.3.min.js"></script>
<script src="{{STATIC_URL}}/static/index.js"></script>
</html>
