
@import url('./header.css');
@import url('./sheetSwitchWindow.css');
@import url('./mainContent.css');

html,body {
  width:100%;
  height:100vh;
  margin:0px;
  background:#F6F6F6;
}

.existingFileContainer {
	position:absolute;
	display:none;
	top:32%;
	left:39%;
	border-radius: 4px;
	width:380px;
	height:60px;
	background: #C4C4C4;
	border:1px solid #747474;
}

.openSheet {
	margin-top:20px;
	margin-left:20px;
}