html,body {
  width:100%;
  height:100vh;
  margin:0px;
  background:#F6F6F6;
} 

.header {
	display: inline-block;
	width:100%;
	height:7vh;
	background:#36D697;
}

.header h3 {
	display: inline-block;
	margin-top: 7px;
	font-family: Patua One;
	float:left;
	margin-left:20px;
}

.headerDate {
	float:right;
	margin-right:20px;
	font-size:20px;
	font-weight:bold;
	line-height: 50px;
}

.contentContainer {
	display: inline-block;
	width:100%;
	height:93vh;
}

.content {
	display: inline-block;
	width:100%;
	height:93vh;
	padding:2.5%;
	padding-top:2%;
	padding-bottom:0px;
}

.crow {
	width:100%;
}

.ccol {
	display: inline-block;
	width:11.875%;
	height:6.8vh;
	border:1px solid #D6D6D6;
	vertical-align: top;
}

.hiddenCell {
	opacity:0.0;
}

.timeLabel {
	font-weight:bold;
	height:5vh;
	border:0px;
	vertical-align: bottom;
	width:60px;
}

.optionsContainer {
	display: none;
}

.ccol:hover .optionsContainer {
	display: initial;
}

.classTaken {
	margin:2px;
	float:left;
	border-radius: 4px;
	padding:2px;
	background: #12417A;
	color:#E2E2E2;
	cursor:pointer;
	margin-left:20%;
}

.classMissed {
	margin:2px;
	float:right;
	border-radius: 4px;
	padding:2px;
	background:#812F2F;
	color:#E2E2E2;
	cursor:pointer;
	margin-right:20%;
}

.locked {
	background:#bdc3c7 !important;
	cursor:not-allowed;
}

.roomLabel {
	font-weight:bold;
	height:5vh;
	border:0px;
	line-height: 36px;	
	background:none !important;
}

.lock {
	margin-left:10px;
}

.updateButton {
	margin-top:5px;
	color:black;
	font-weight:bold;
}