html,body {
  width:100%;
  height:100vh;
  margin:0px;
  background:#F6F6F6;
}

.beginOptions {
	display: inline-block;
	width:40%;
	padding:40px;
	background:#1E1E1E;
	margin-top:16%;
	color:white;
	border-radius: 10px;
} 

.beginOptionsIntro {
	font-weight:bold;
	font-size:20px; 
}

.existingSheetContainer {
	display:none;
	width:100%;
	height:100vh;
	background:black;
}

.sheetPanel {
	display: inline-block;
	background:#004499;
	padding:20px;
}

.sheet {
	color:white;
	font-weight:bold;
	font-size:20px;
	padding:10px;
	cursor:pointer;
}

.sheet:hover {
	background:#001E56;
}

.createNewSheet {
	float:left;
	margin-left:20px;
	margin-top:40px;
	background:#F83535;
	padding:10px;
	border-radius: 10px;
	cursor:pointer;
}

.openExistingSheet {
	float:right;
	margin-right:20px;
	margin-top:40px;
	background:#1FDCED;
	padding:10px;
	border-radius: 10px;
	cursor:pointer;
}

.sheetContent {
	display:none;
}

.header {
	width:100%;
	height:60px;
	background:#141414;
}

.menu {
	float:right;
	height:100%;
	margin-right:40px;
}

.option {
	color:#E8E000;
	cursor: pointer;
	height:100%;
	width:50px;
	padding-left:10px;
	padding-right:10px;
	transition: background 0.4s;
}

.option:hover {
	background: #353535
}

.sheetContainer {
	padding:20px;
	background: #FFFFFF;
}

.row {
	height:40px;
}

.col {
	display: inline-block;
	width:80px;
	height:100%;
	float:left;
	border:1px solid #2B2B2B;
}

.active {
	border:2px solid #0AEBFF;
}

.save {
	margin-bottom:16px;
}