
.beginOptions {
	display: inline-block;
	width:40%;
	padding:40px;
	background:#1E1E1E;
	margin-top:16%;
	color:white;
	border-radius: 10px;
} 

.beginOptionsIntro {
	font-weight:bold;
	font-size:20px; 
}

.createNewSheet {
	float:left;
	margin-left:20px;
	margin-top:40px;
	background:#F83535;
	padding:10px;
	border-radius: 10px;
	cursor:pointer;
}

.openExistingSheet {
	float:right;
	margin-right:20px;
	margin-top:40px;
	background:#1FDCED;
	padding:10px;
	border-radius: 10px;
	cursor:pointer;
}