
.createNewSheet {
	float:left;
	margin-left:20px;
	margin-top:40px;
	background:#F83535;
	padding:10px;
	border-radius: 10px;
	cursor:pointer;
}

.openExistingSheet {
	float:right;
	margin-right:20px;
	margin-top:40px;
	background:#1FDCED;
	padding:10px;
	border-radius: 10px;
	cursor:pointer;
}

.save {
	margin-bottom:16px;
}